# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Others #
##########
*.*~
*.swp
*.swo

# Specific files #
##################
bow_bash.sh
some_results/
helper_programs/
training_sets/flavia_leaves_full
test_sets/flavia_leaves_full
training_sets/set_dataset.sh

